{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share - About
{% endblock %}

{% block doc_css %}
    <style>
        .banner-holder {
            background-image: url("{% static 'Blog/images/about.jpg' %}");
            background-position: center;
        }
    </style>
{% endblock %}

{% block blog_content %}
    <header class="banner-holder py-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-content text-center text-white my-5 py-5">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <h2 class="text-center">Space Share</h2>
        <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vulputate eros vel mollis semper. 
            Praesent eu molestie sem, eget imperdiet ante. Mauris quis accumsan metus. 
            Curabitur lacinia leo eget nulla tempus feugiat. Donec feugiat felis et scelerisque pretium. 
            Praesent tristique ipsum nisi, sed eleifend erat consectetur eu. Donec ultricies nibh eu nulla bibendum luctus.
        </p>
        <h3>Contact</h3>
        <p class="text-muted">
            <strong>Email:</strong> spaceshare@gmail.com <br/>
            <strong>Address:</strong> 
            Poland, Warsaw<br/>
        </p>
    </main>
{% endblock %}