{% extends 'Blog/base_blog.html' %}
{% load static %}

{% block doc_title %}
    Space Share - Settings
{% endblock %}

{% block blog_content %}
    <div class="container-fluid position-fixed top-0 start-0 w-100 h-100 text-center">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-3">
                <div class="card">
                    <div class="card-header bg-primary text-bg-primary">
                        Email
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row gx-2">
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        {% for form_item in form_changeemail %}
                                            {{ form_item }}
                                            {{ form_item.errors }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-success">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header bg-primary text-bg-primary">
                        Password
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row gx-2">
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        {% for form_item in form_changepassword %}
                                            {{ form_item }}
                                            {{ form_item.errors }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-success">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header bg-primary text-bg-primary">
                        Image
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row gx-2">
                                <div class="col-md-12">
                                    <div class="mb-2">
                                        {% for form_item in form_changeimage %}
                                            {{ form_item }}
                                            {{ form_item.errors }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-success">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}