:root{
    --sky: #4cc9f0;
    --far-space: #f72585;
}

.brand-gradient {
    background: var(--light);
    background: -webkit-linear-gradient(to top, var(--sky), var(--far-space));
    background: linear-gradient(to top, var(--sky), var(--far-space));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}